.header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 999;
    box-shadow: 0 1px rgba(0, 0, 0, 0.6);

    padding-top: 15px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    color: whitesmoke;

    background-color: var(--clrsecondary); 

}

.headerNameplate{

    font-size: xx-large;
    text-shadow: 1rem;

    padding: 0.5rem;
    margin-bottom: 0.5rem;

    border: 0.15rem var(--clrneutral) solid;
    border-radius: 0.6rem;

}

.bodyHeaderNavBar {

    list-style-type: none;
    display: flex;
    gap: 3rem;
    padding-bottom: 1rem;

}

.navBarLink {

    text-decoration: none;

}

.navBarButton {

    padding: 0.5rem;
      
    border-width: 0.2rem 0rem;
    border-radius: 0.6rem;
    border-color: var(--clrneutral30);
    border-style: solid;

    font-size: 1.2rem;

}

.navBarButton:hover {

    border-color: var(--clraccent);

}
